<%- include('./layouts/header') %>

    <% if (game) { %>
        <p hidden="true" id="player1"><%= game.player1 %></p>
        <p hidden="true" id="player2"><%= game.player2 %></p>
    <% } %>

    <ul class="list-group" id="chatList"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/board.js"></script>

<%- include('./layouts/footer') %>