<%- include('./layouts/header') %>

    <div class="container">
        <div class="d-flex justify-content-center divLogo mb-5">
            <img src="img/ChessFDLogov2.png" alt="Logo" class="d-inline-block align-top me-2" width="60" height="60">
            <h1 class="d-inline-block text-white">Tic-Tac-Toe</h1>
        </div>

        <div class="row">
            <div class="col text-white column me-3">
                <p class="desc">Play online tic-tac-toe with friends or with random people across the internet and chat with them</p>
            </div>
            <div class="col">
                <img src="img/board.png" alt="Board">
            </div>
        </div>
    </div>
    
<%- include('./layouts/footer') %>