<%- include('./layouts/header') %>

    <div class="container">
        <div class="d-flex justify-content-center divLogo mb-5">
            <img src="img/ChessFDLogov2.png" alt="Logo" class="d-inline-block align-top me-2" width="60" height="60">
            <h1 class="d-inline-block text-white">ChessFD</h1>
        </div>

        <div class="row">
            <div class="col text-white column me-3">
                <a href="/rooms" class="btn playBtn">Chat</a>
            </div>
            <div class="col text-white column me-3">
                <a href="/players" class="btn playBtn">Find game</a>
            </div>
            <div class="col text-white column me-3">
                <form action="/board" method="get">
                    <input type="text" value="true" name="createGame" hidden="true">
                    <button class="btn playBtn">Create game</Button>
                </form>
            </div>
        </div>
        <div class="row mt-5 col-xs-1" align="center">
            <div class="col">
                <img src="img/board.png" alt="Board">
            </div>
        </div>
    </div>
    
<%- include('./layouts/footer') %>