<%- include('./layouts/header') %>

    <div class="container chat">
        <h2 class="room">Available games:</h2>

        <% if (game) { %>
            <% if (game.length > 0) { %>
                <% game.forEach(function(game) { %>
                    <% if (game.finished !== true) { %>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= game.player1 %></h5>
                                <form action="/board" method="get">
                                    <input type="text" value="<%= user.username %>" name="username" hidden="true">
                                    <input type="text" value="<%= game.player1 %>" name="usernameOpponent" hidden="true">
                                    <button class="btn">Join</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <p class="username">No games available</p>
            <% } %>
        <% } %>
    </div>

    <script src="/socket.io/socket.io.js"></script>

<%- include('./layouts/footer') %>