<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/ChessFDLogov2.ico">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
    </style>
    <title><%= title %></title>
</head>

<body>
    <div class="container mb-5 p-3">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top navigationBar mb-5">
            <a href="/" class="navbar-brand mb-0 h1 ms-5">
                <img src="img/ChessFDLogov2.png" alt="Logo" class="d-inline-block align-top" width="30" height="30">
                Tic-Tac-Toe
            </a>

            <% if (user) { %>
                <div class="container justify-content-end me-5">
                    <ul class="navbar-nav">
                        <li class="nav-item active me-3">
                            <p class="username" id="username"><%= user.username %></p>
                        </li>
                        <li class="nav-item active logoutBtn me-3">
                            <a href="/play" class="btn">Play</a>
                        </li>
                        <li class="nav-item active logoutBtn me-3">
                            <a href="/rooms" class="btn">Chat</a>
                        </li>
                        <li class="nav-item active logoutBtn">
                            <a href="/logout" class="btn">Log out</a>
                        </li>
                    </ul>
                </div>
            <% } else { %>
                <div class="container justify-content-end me-5">
                    <ul class="navbar-nav">
                        <li class="nav-item active me-3">
                            <a href="/login" class="btn">Log in</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/signup" class="btn">Sign up</a>
                        </li>
                    </ul>
                </div>
            <% } %>
        </nav>
    </div>